<h1>Decisions list:</h1>

<ul>
    {{#each model as |decision|}}
      <li>
        {{#link-to 'decisions.show' decision}}
          {{decision.description}}
        {{/link-to}}
      </li>
    {{/each}}
</ul>